/****************************************
*
* Author: rob-now
* Date: 07.01.2018
*
*****************************************/

li:nth-child(1), li:nth-child(7){
    font-weight: bold;
}

li:nth-child(even){
    color: deepskyblue;
}

li:nth-child(odd){
    color: deeppink;
}

li:nth-child(3n + 1){
    background-color: antiquewhite;
}

