.button {
    display:block;
    width: 100px;
    padding: 12px;
    border: 1px solid #222250;
    font-family: "DejaVu Sans", Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: #4444FF;
    background: linear-gradient(top, #4444FF 0%, #222250 100%);
    background: -webkit-linear-gradient(top, #4444FF 0%, #222250 100%);
    background: -moz-linear-gradient(top, #4444FF 0%, #222250 100%);
}

.button:hover {
    background: #222250;
    background: linear-gradient(bottom, #4444FF 0%, #222250 100%);
    background: -webkit-linear-gradient(bottom, #4444FF 0%, #222250 100%);
    background: -moz-linear-gradient(bottom, #4444FF 0%, #222250 100%);
}